body{
    margin: 0px;
    padding: 0px;
    background: #e2e2e2;
}
#userInput{
    cursor: text;
    height: 25px;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(6, 161, 6);
}
#submitBtn{
    background: #ffffff;
    cursor: pointer;
    height: 30px;
    width: 90px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(4, 4, 176);
}
#passwordChecker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 100%;
    font-family: arial,san-serif,sang UI;
    font-weight: 400;
    background: scroll;
}
#nameHolder{
    cursor: text;
    height: 25px;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(6, 161, 6);
}
#verifyme{
    display: inline-flex;
    gap:4px;
}